{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<div class="all-content">

    <h1 class="post-title">{{ .Title }}</h1>
    {{ if isset .Params "bookauthor" }}
    <h3 class="bookauthor">{{ .Params.bookauthor }}</h3>
    {{ end }}
    {{ if isset .Params "finishedon" }}
    <h3 class="bookauthor"> Finished on {{ .Date.Format "January 02, 2006" }}</h3>
    {{ end }}
    {{ if (isset .Params "book") }}
    {{ else }}
    {{ end }}
    {{ .Content }}
    <p class="author"><a href="https://github.com/blackpiratelive/blog/blob/main/content/{{ .File.BaseFileName }}.{{ .File.Ext }}">edit this page</a></p>
    {{ if isset .Params "tags" }}
    <p class="author">
        This post is tagged with:
        {{ range (.GetTerms "tags") }}
            <span><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>,</span>
        {{ end }}
    </p>
    {{ end }}

    
</div>
{{- partial "footer.html" . -}}
</body>
</html>