{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<div class="all-content">

    <h1 class="post-title">{{ .Title }}</h1>
    {{ if isset .Params "bookauthor" }}
    <p class="bookauthor">{{ .Params.bookauthor }}</p>
    {{ end }}
    {{ if isset .Params "finishedon" }}
    <p class="bookauthor"> Finished on {{ .Date.Format "January 02, 2006" }}</p>
    {{ end }}
    {{ if (isset .Params "book") }}
    {{ else }}
    {{ end }}
    <hr>
    {{ .Content }}
    <hr>
    <h4>Comment</h4>
        <p>You can send me your comments by email at comments(at)blackpiratex.com</p>
    </details>
    <p class="author">Something needs a fix? <a href="https://github.com/blackpiratelive/blog/blob/main/content/{{ .File.BaseFileName }}.{{ .File.Ext }}">edit this page.</a></p>
    {{ if isset .Params "tags" }}
    <p class="author">
        This post is tagged with:
        {{ range (.GetTerms "tags") }}
            <span><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>,</span>
        {{ end }}
    </p>
    {{ end }}

    
</div>
{{- partial "footer.html" . -}}
</body>
</html>