<h1 class="main-heading">{{ .Site.Title }}</h1>
<div class="nav-bar">
    <div class="nav-item"><a href="https://blackpiratex.com">Home</a></div>
    <div class="nav-item"><a href="https://blackpiratex.com/contact/">Contact</a></div>
    <div class="nav-item"><a href="https://blackpiratex.com/about">About</a></div>
    <div class="nav-item"><a href="/">Blog</a></div>
    <div class="nav-item"><a href="/tags">Tags</a></div>
    <div class="nav-item"><a href="https://gallery.blackpiratex.com">Gallery</a></div>
    <div class="nav-item"><a href="https://status.blackpiratex.com/" class="status-nav">Status</a></div>
</div>