.cover-img-homepage {
    width: 200px;
}
.book-title {
    width: 400px;
}
.cover-img-file {
    border: 1px solid black;
 
}
.cover-n-title {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: stretch;
}
.bookauthor {
    color: grey;
    font-size: 1rem;
}